@tailwind base;
@tailwind components;
@tailwind utilities;
 
.wrapper{
    display: flex;
  }
  
  .wrapper .dynamic-txts{
    line-height: 90px;
  }
  .dynamic-txts li{
    list-style: none;
    color: #f26fe5;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 10s steps(2) infinite;
  }
  @keyframes slide {
    100%{
      top: -180px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 105%;
    width: 100%;
    @apply bg-slate-900;
    border-left: 2px solid #FC6D6D;
    animation: typing 5s steps(10) infinite;
  }
  @keyframes typing {
    60%, 40%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
 
  .animation {
    animation: scrollText 20s linear infinite;
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50% + 200px)); /* Adjust the value accordingly */
    }
  }
  
 